*{
  box-sizing: border-box;
}

body {
  font-family: 'Cairo', sans-serif;
}
p {
  font-family:Verdana, Geneva, Tahoma, sans-serif!important;
}

a {
  color: #000 !important;
  text-decoration: none !important;
}
.post_detail .post_desc a{
  color: #0013c0;
}

// .img img {
//   width: 225px!important;
//   height: 225px!important;
//   max-height: 100%!important;
//   max-width: 100%!important;
// }

.button{
  background-color: #ffa71a;
}
button ,input{
  height: 40px;
  border-radius: 3px;
}
.imgeslider{
  width: 80px;
  height: 80px;
}

.bg-button{
  width: 40px;
  height: 20px;
  color: #f1c47b;
}
// input:focus{
//   border: solid none;

// }

.swiper-pagination {
  display: none !important;
}

.stars-rating {
  text-align: center;
}

.stars-rating ul{
  font-size: 24px;
}

.box-info ul {
  font-size: 24px;
}