.add_reviews {
    div {
        display: block;
        label {
            display: block;
            margin: 6px 0;
        }
        input {
            width: 30%;
        }
        button {
            margin-top: 6px;
            background-color: #ffb61e;
            color: #fff;
            border-color: #ffb61e;
        }
        .reviews_error {
            background-color: #ff000069;
            padding: 10px;
            margin: 10px 0;
            border-radius: 4px;
            color: #fff;
        }
    }
}